QScrollBar:vertical {
    background: #101010;
    width: 8px;
    margin: 2px 0;
    border-radius: 3px;
}

QScrollBar::handle:vertical {
    background: #b0b0b0;
    min-height: 24px;
    border-radius: 3px;
}

QScrollBar::handle:vertical:hover {
    background: #d7d7d7;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}
